<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/login') }}
        {% endblock %}
        {{ encore_entry_script_tags('js/head') }}

    </head>
    <body class="page-login-v3 layout-full">
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('js/login') }}
        {% endblock %}
    </body>
</html>
